.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0px 70px;
}

.card .outline{
    border: 1px solid black;
    padding: 30px 30px;
    display: grid;
    grid-template-rows: 100px 50px 50px 50px;
    gap: 10px;
    position: relative;
}

.card .outline .image{
    background-color: black;
    color: white;
}

.card .outline .title{
    background-color: black;
    color: white;
}

.card .outline .price{
    background-color: black;
    color: white;
}

.card .outline .button{
    background-color: black;
    color: white;
}