h1{
    color: blue;
}

/* Id Selector */
#sch{
    color: yellow;
}

/* Class Selector */
.bsd{
    color: salmon;
}

.bsdbg{
    background-color: black;
}

.cTest01{
    color: red !important;
}

#iTest01{
    color: blue;
}

.cWrapper .cContent .cHeading{
    background-color: gray;
}

#iWrapper > .cContent{
    background-color: blueviolet;
}

