@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,200;1,100&family=Roboto:wght@100&family=Sono:wght@300&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
}

.navbar .navbarL{
    display: flex;
    gap: 10px;
    background-color: aquamarine;
}

/* Jumbotron */
.jumbotron{
    width: 100%;
    min-height: 75%;
    position: relative;
}

.jumbotron .video{
    object-fit: initial;
    max-width: 100%;
    width: 100%;
    height: 75%;
}

.jumbotron h1{
    background-color: antiquewhite;
    font-size: 72px;
    max-width: 700px;
    position: absolute;
    bottom: 100px;
    left: 100px;
}

/* Pelayanan */
.pelayanan{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 50px 100px 100px 100px;
}

.pelayanan .konsumen{
    background-color: black;
    padding: 10px 10px;
    color: white;
    border-radius: 50px;
}

.pelayanan div:hover{
    color: greenyellow;
}

/* Pengantaran */
.pengantaran{
    display: flex;
}

.pengantaran div{
    flex: 1 ;
}

.pengantaran div .makanan{
    display: flex;
}