.wrapper{
    display: grid;
    height: 550px;
    grid-template-columns: 2fr 1fr 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px 20px;
}

.wrapper div{
    background-color: salmon;
    color: white; 
}

.wrapper div:nth-child(even){
    background-color: brown;
}

.container{
    background-color: grey;
    display: grid;
    height: 550px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.container div{
    background-color: blue;
    color: white; 
}

.container div:nth-child(even){
    background-color: yellow;
}







.parent{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-top: 100px;
    margin-bottom: 300px;
}

.parent div{
    background-color: cadetblue;
}

.parent div:nth-child(even){
    background-color: chocolate;
}

.parent div:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;
}

.parent div:nth-child(2){
    grid-column: 4/10;
}