.wrapper{
    display: grid;
    height: 550px;
    grid-template-columns: 2fr 1fr 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px 20px;
}

.wrapper div{
    background-color: salmon;
    color: white; 
}

.wrapper div:nth-child(even){
    background-color: brown;
}

.container{
    background-color: grey;
    display: grid;
    height: 550px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.container div{
    background-color: blue;
    color: white; 
}

.container div:nth-child(even){
    background-color: yellow;
}







.parent{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-top: 100px;
    margin-bottom: 300px;
}

.parent div{
    background-color: cadetblue;
}

.parent div:nth-child(even){
    background-color: chocolate;
}

.parent div:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;
}

.parent div:nth-child(2){
    grid-column: 4/10;
}






.head{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-top: 100px;
    margin-bottom: 300px;
    grid-gap: 10px;
}

.head div{
    background-color: cadetblue;
}

.head div:nth-child(even){
    background-color: chocolate;
}

.head div:nth-child(1){
    grid-column: 1/4;
}

.head div:nth-child(2){
    grid-column: 4/ span 3;
}

/* .head div:nth-child(3){
    grid-column: 1/ span 5;
    grid-row: 2/4;
} */

.parent-nav{
    display: grid;
    grid-template-columns: 6fr;
}

.parent-nav div{
    background-color: salmon;
}

.parent-nav div:nth-last-child(even){
    background-color: blueviolet;
}

.parent-nav div:nth-child(2){
    display: none;
}

.parent-nav div:nth-child(3){
    display: none;
}

.parent-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.parent-card div{
    background-color: red;
}

/* Tablet */
/* 501px - 700px */
@media screen and (max-width: 700px) {
    h1{
        color: green;
    }

    p{
        color: salmon;
    }

    .parent-nav{
        display: grid;
        grid-template-columns: 2fr 4fr;
    }

    .parent-nav div{
        background-color: salmon;
    }

    .parent-nav div:nth-last-child(even){
        background-color: blueviolet;
    }

    .parent-nav div:nth-child(2){
        display: block;
    }

    .parent-nav div:nth-child(3){
        display: none;
    }

    .parent-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

/* Mobile */
/* 0px - 500px */
@media screen and (max-width: 500px) {
    h1{
        color: red;
    }

    p{
        color: black
    }

    .parent-nav{
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
    }

    .parent-nav div{
        background-color: salmon;
    }

    .parent-nav div:nth-last-child(even){
        background-color: blueviolet;
    }

    .parent-nav div:nth-child(3){
        display: block;
    }

    .parent-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}