h1{
    color: blue
}

/* 501px - 700px */
@media screen and (max-width: 700px) {
    h1{
        color: green;
    }

    p{
        color: salmon;
    }
}

/* 301px - 500px */
@media screen and (max-width: 500px) {
    h1{
        color: red;
    }

    p{
        color: black
    }
}

/* 0px - 300px */
@media screen and (max-width: 300px) {
    h1{
        color: yellow;
    }
}